= simple_form_for @post do |f|
  = f.input :image
  = f.input :title
  = f.input :link
  = f.input :description
  = f.label :category_id
  = f.collection_select :category_id, Category.all, :id, :name

  = f.button :submit
